@import url(https://everythingfonts.com/font/face/0I2QRA8Tx3q_Wr3LvlRUIweF);
@import url(https://everythingfonts.com/font/face/PyGAqqG87kajXhnuxQYSxweF);
body {
    display: block;
    margin: 8px;
}

div {
    display: inline-block;
}

html {}

h1 {
    text-align: center;
    background-color: rgb(216, 93, 93);
    color: white;
    height: 30px;
    font-size: 25px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    border-radius: 5px;
    font-family: "goodtimesrg";
    font-size: 1.8 em;
}

h2 {
    display: block;
    font-size: 12px;
    margin-left: 35px;
    margin-bottom: 15px;
    font-family: "goodtimesrg";
    color: #333;
    letter-spacing: 0.5px;
}

hr {
    height: 1px;
    background: rgb(180, 179, 179);
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
}


/* top of form */

#startformOne {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-column-gap: 150px;
    /* margin-left: -145px; */
    margin-top: 25px;
    margin-bottom: 12px;
}

#startformTwo {
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-column-gap: 150px;
    /* margin-left: -145px; */
    margin-top: 25px;
    margin-bottom: 12px;
}


/* store drop down */

#store {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 12px;
    color: #333;
    font-family: "goodtimesrg";
    outline: 0;
    border: 0;
}


/* date picker */

#datepicker {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    font-family: "goodtimesrg";
    outline: 0;
    border: 0;
}


/* manager input box */

#OperationsManager {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    font-family: "goodtimesrg";
    outline: 0;
    border: 0;
}

#whichVisit {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    font-family: "goodtimesrg";
    outline: 0;
    border: 0;
}


/* note boxes */

#msg,
#msgone,
#msgtwo,
#msgthree,
#msgfour,
#msgfive,
#msgsix,
#msgseven,
#msgeight,
#msgnine,
#msgten,
#msgeleven,
#msgTwelve,
#msgThirteen,
#msgFourteen,
#msgFifteen,
#msgSixteen,
#msgSeventeen,
#msgEighteen,
#msgNineteen,
#msgTwenty,
#msgTwentyone,
#msgTwentytwo,
#msgTwentythree,
#msgTwentyfour,
#msgTwentyfive,
#msgTwentysix,
#msgTwentyseven,
#msgTwentyeight,
#msgTwentynine,
#msgThirty,
#msgThirtyone,
#msgThirtytwo {
    width: 590px;
    height: 80px;
    border-radius: 5px;
    margin-left: 550px;
    margin-top: -50px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    font-family: "goodtimesrg";
}

label {
    display: inline-block;
    margin-left: 50px;
    font-size: 15px;
    align-items: center;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    align-items: center;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(10, 10, 10);
    border-image: initial;
    padding: 2px;
}

.flex-child {
    flex: 1;
    margin-bottom: 14px;
    display: block;
}

.form-control {
    width: 275px;
    height: 30px;
    margin-left: 200px;
    outline: 0;
    display: block;
}


/* input number ops form */

#inputnum {
    display: inline-block;
    margin-left: 105px;
}

#inputone {
    display: inline-block;
    margin-left: 80.5px;
}

#inputtwo {
    display: inline-block;
    margin-left: 213px;
}

#inputthree {
    display: inline-block;
    margin-left: 193px;
}

#inputfour {
    display: inline-block;
    margin-left: 98px;
}

#inputfive {
    display: inline-block;
    margin-left: 55px;
}

#inputsix {
    display: inline-block;
    margin-left: 252px;
}

#inputseven {
    display: inline-block;
    margin-left: 75px;
}

#inputeight {
    display: inline-block;
    margin-left: 152px;
}

#inputnine {
    display: inline-block;
    margin-left: 105px;
}

#inputten {
    display: inline-block;
    margin-left: 189px;
}

#inputeleven {
    display: inline-block;
    margin-left: 152px;
}

#inputTwelve {
    display: inline-block;
    margin-left: 68px;
}

#inputThirteen {
    display: inline-block;
    margin-left: 40px;
}

#inputFourteen {
    display: inline-block;
    margin-left: 162px;
}

#inputFifteen {
    display: inline-block;
    margin-left: 148px;
}

#inputSixteen {
    display: inline-block;
    margin-left: 73px;
}

#inputSeventeen {
    display: inline-block;
    margin-left: 232px;
}

#inputEighteen {
    display: inline-block;
    margin-left: 272px;
}

#inputNineteen {
    display: inline-block;
    margin-left: 173px;
}

#inputTwenty {
    display: inline-block;
    margin-left: 52px;
}

#inputTwentyone {
    display: inline-block;
    margin-left: 78px;
}

#inputTwentytwo {
    display: inline-block;
    margin-left: 238px;
}

#inputTwentythree {
    display: inline-block;
    margin-left: 195px;
}

#inputTwentyfour {
    display: inline-block;
    margin-left: 128px;
}

#inputTwentyfive {
    display: inline-block;
    margin-left: 55px;
}

#inputTwentysix {
    display: inline-block;
    margin-left: 143px;
}

#inputTwentyseven {
    display: inline-block;
    margin-left: 245px;
}

#inputTwentyeight {
    display: inline-block;
    margin-left: 88px;
}

#inputTwentynine {
    display: inline-block;
    margin-left: 158px;
}

#inputThirty {
    display: inline-block;
    margin-left: 55px;
}

#inputThirtyone {
    display: inline-block;
    margin-left: 115px;
}

#inputThirtytwo {
    display: inline-block;
    margin-left: 95px;
}

.contact-form .btnContact {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    background: #f14f5f;
    font-weight: 600;
    color: #fff;
    margin-left: 500px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 1.2 em;
    letter-spacing: 1px;
    font-family: "irishgrowler";
}


/* director form btn*/

.contact-form .btnContacttwo {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #f14f5f;
    /* font-weight: 600; */
    text-align: center;
    color: #fff;
    margin-left: 500px;
    box-shadow: 7px 5px 5px rgb(202, 200, 200);
    font-size: 1.2 em;
    letter-spacing: 1px;
    font-family: "irishgrowler";
}